<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="before.forget">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Beforeget">
        <activity
            android:name=".feature.write.WritaAddItemActivity"
            android:exported="false" />
        <activity
            android:name=".feature.write.WriteActivity"
            android:exported="true" />
        <activity
            android:name=".feature.write.MediaSelectActivity"
            android:exported="true" />
        <activity
            android:name=".feature.myrecord.MyRecordActivity"
            android:exported="true" />
        <activity
            android:name=".feature.report.ReportActivity"
            android:exported="true" />
        <activity
            android:name=".feature.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>